.paper {
  padding: 15px 15px;
  animation: slide-in-left 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-30px); 
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.secondRow{
  margin-top: 20px !important;
}

.money{
  margin-top: 2px;
}

.checkboxGroup{
  height: 100px;
  margin: 15px 0;
  padding: 0 20px;
  overflow-y: scroll;
}

.icon{
  margin-right: 10px;
}
