.paper {
  height: 350px;
  width: 100%;
  cursor: pointer;
}

.thumbnail {
  position: relative;
  height: 40%; /* relate to content */
  width: 100%;
}

.thumbnail img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top center;
}

.content {
  padding: 0 20px;
  height: 60%; /* relate to thumbnail */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  height: 70%;
  padding: 0.7rem 0 0.5rem 0;
  /* background-color: lightgreen; */
}

.tech {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.techItem {
  font-size: 0.9rem !important;
  min-width: 30px !important;
}

.icon {
  margin: 0 20px 0 0;
}

.footer {
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  border-top: 0.5px solid #ecebeb;
  /* background-color: lightblue; */
}
